<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1: Version control with Git 28-02-2024</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>08:45</td>        <!-- time    -->
        <td><strong>Arrival, registration, morning refreshments</strong></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>09:30</td>        <!-- time    -->
        <td>Begin</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>09:30</td>        <!-- time    -->
        <td>Housekeeping and Collaborative Notes</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>09:35</td>        <!-- time    -->
        <td><strong>Morning Session Start</strong></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>10:50</td>        <!-- time    -->
        <td>Morning break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>11:05</td>        <!-- time    -->
        <td>Continue</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td>12:00</td>        <!-- time    -->
        <td><strong>Lunch</strong></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 10   -->
        <td>13:00</td>        <!-- time    -->
        <td>Afternoon Session Start</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 12   -->
        <td>14:45</td>        <!-- time    -->
        <td>Afternoon break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 12   -->
        <td>15:00</td>        <!-- time    -->
        <td>Continue</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 16   -->
        <td>16:30</td>        <!-- time    -->
        <td><strong>Close</strong></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2: Programming with Python 07-03-2024</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>08:45</td>        <!-- time    -->
        <td><strong>Arrival, registration, morning refreshments</strong></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>09:30</td>        <!-- time    -->
        <td>Begin</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>09:30</td>        <!-- time    -->
        <td>Housekeeping and Collaborative Notes</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>09:35</td>        <!-- time    -->
        <td><strong>Morning Session Start</strong></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>10:50</td>        <!-- time    -->
        <td>Morning break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>11:05</td>        <!-- time    -->
        <td>Continue</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td>12:00</td>        <!-- time    -->
        <td><strong>Lunch</strong></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 10   -->
        <td>13:00</td>        <!-- time    -->
        <td>Afternoon Session Start</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 12   -->
        <td>14:45</td>        <!-- time    -->
        <td>Afternoon break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 12   -->
        <td>15:00</td>        <!-- time    -->
        <td>Continue</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 16   -->
        <td>16:30</td>        <!-- time    -->
        <td><strong>Close</strong></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3: Data Analysis and Visualization in Python 14-03-2024</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>08:45</td>        <!-- time    -->
        <td><strong>Arrival, registration, morning refreshments</strong></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>09:30</td>        <!-- time    -->
        <td>Begin</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>09:30</td>        <!-- time    -->
        <td>Housekeeping and Collaborative Notes</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>09:35</td>        <!-- time    -->
        <td><strong>Morning Session Start</strong></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>10:50</td>        <!-- time    -->
        <td>Morning break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>11:05</td>        <!-- time    -->
        <td>Continue</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td>12:00</td>        <!-- time    -->
        <td><strong>Lunch</strong></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 10   -->
        <td>13:00</td>        <!-- time    -->
        <td>Afternoon Session Start</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 12   -->
        <td>14:45</td>        <!-- time    -->
        <td>Afternoon break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 12   -->
        <td>15:00</td>        <!-- time    -->
        <td>Continue</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 16   -->
        <td>16:30</td>        <!-- time    -->
        <td><strong>Close</strong></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 4: Image Processing with Python 21-03-2024</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>08:45</td>        <!-- time    -->
        <td><strong>Arrival, registration, morning refreshments</strong></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>09:30</td>        <!-- time    -->
        <td>Begin</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>09:30</td>        <!-- time    -->
        <td>Housekeeping and Collaborative Notes</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>09:35</td>        <!-- time    -->
        <td><strong>Morning Session Start</strong></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>10:50</td>        <!-- time    -->
        <td>Morning break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>11:05</td>        <!-- time    -->
        <td>Continue</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td>12:00</td>        <!-- time    -->
        <td><strong>Lunch</strong></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 10   -->
        <td>13:00</td>        <!-- time    -->
        <td>Afternoon Session Start</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 12   -->
        <td>14:45</td>        <!-- time    -->
        <td>Afternoon break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 12   -->
        <td>15:00</td>        <!-- time    -->
        <td>Continue</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 16   -->
        <td>16:30</td>        <!-- time    -->
        <td><strong>Close</strong></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 5: Interactive Data Visualization in Python 28-03-2024</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>08:45</td>        <!-- time    -->
        <td><strong>Arrival, registration, morning refreshments</strong></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>09:30</td>        <!-- time    -->
        <td>Begin</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>09:30</td>        <!-- time    -->
        <td>Housekeeping and Collaborative Notes</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>09:35</td>        <!-- time    -->
        <td><strong>Morning Session Start</strong></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>10:50</td>        <!-- time    -->
        <td>Morning break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>11:05</td>        <!-- time    -->
        <td>Continue</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td>12:00</td>        <!-- time    -->
        <td><strong>Lunch</strong></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 10   -->
        <td>13:00</td>        <!-- time    -->
        <td>Afternoon Session Start</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 12   -->
        <td>14:45</td>        <!-- time    -->
        <td>Afternoon break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 12   -->
        <td>15:00</td>        <!-- time    -->
        <td>Continue</td>        <!-- content -->
      </tr>
      <tr> <td>16:20</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr>               <!-- row 16   -->
        <td>16:30</td>        <!-- time    -->
        <td><strong>Close</strong></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>